{{ opentable('Manage account blacklists') }}
<table class="table table-responsive">
    <thead>
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="3">Roadmap item development in progress</td>
    </tr>
    </tbody>
</table>
{{ closetable() }}

