
[data-luna-theme="dark"] {

  //Dark mode styles
  --bs-gray-100: #313235;
  --bs-gray-200: #464950;
  --bs-gray-300: #5f5f68;
  --bs-gray-400: #a1a1a8;
  --bs-gray-500: #bfc0c9;
  --bs-gray-600: #c5c6cc;
  --bs-gray-700: #ffffffb3;
  --bs-gray-800: #fffffff9;
  --bs-gray-900: #fff;
  --bs-dark: #14191e;
  --bs-light: #202227;
  --bs-secondary-rgb: 197, 198, 204;
  //--bs-body-bg: #191a1f;
  --bs-body-bg: #18191A;
  --bs-body-color: #a1a1a8;
  --bs-body-color-rgb: 161, 161, 168;
  --bs-mode: #0f0f10;
  --bs-mode-rgb: 15, 15, 16;
  --bs-border-color: rgba(255, 255, 255, 0.07);
  //--bs-card-bg-dark: #141519;
  --bs-card-bg-dark: #242526;
  --bs-heading-color: var(--bs-gray-900);
  --bs-light-rgb: 32, 34, 39;
  //--bs-input-bg: #191A1F;
  --bs-input-bg: #3A3B3C;
  --bs-input-hover-bg: #ffffff2a;

  // Navbar
  .navbar {
    --bs-navbar-color: var(--bs-gray-600);
    --bs-navbar-disabled-color: var(--bs-gray-400);
    background: transparent !important;
  }

  .navbar-dark {
    --bs-navbar-color: var(--bs-gray-900);
  }

  .nav-notification-list {
    color: var(--bs-gray-400);

    &:hover {
      background: var(--bs-light);
    }
  }

  // Dropdown menu
  .dropdown-menu {
    --bs-dropdown-bg: var(--bs-mode);
    --bs-dropdown-link-disabled-color: var(--bs-gray-200);
    box-shadow: none;
    --bs-dropdown-divider-bg: var(--bs-border-color);
    border: 1px solid var(--bs-border-color);
  }

  .alert-light {
    --bs-alert-bg: var(--bs-gray-600);
    --bs-alert-border-color: var(--bs-gray-600);
  }

  // Buttons
  .bg-light {
    background-color: var(--bs-light);
  }

  .btn.btn-theme-options {
    svg {
      fill: var(--bs-gray-900);
    }

    &.active {
      background: var(--bs-primary);
    }
  }

  .btn-dark {
    --bs-btn-bg: var(--bs-mode);
  }

  .btn-close {
    filter: invert(1) grayscale(100%) brightness(300%);
  }

  .btn-secondary-soft {
    background-color: rgba(var(--bs-secondary-rgb), 0.1);
    color: var(--bs-gray-600);

    &:hover {
      background-color: rgba(var(--bs-secondary-rgb)) !important;
      color: var(--bs-body-bg) !important;
    }
  }

  .btn-secondary-soft-hover:hover {
    background-color: rgba(var(--bs-secondary-rgb), 0.1);
    color: var(--bs-gray-600) !important;
  }

  .btn.btn-light {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-color: var(--bs-nav-link-color);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-color: var(--bs-btn-active-color);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-active-bg: var(--bs-gray-200);
    --bs-btn-active-color: var(--bs-gray-800);
  }

  .btn.btn-outline-secondary {

    svg {
      fill: var(--bs-gray-800);
    }

    &:hover {
      svg {
        fill: var(--bs-gray-800);
      }
    }

    --bs-btn-color: var(--bs-gray-600);
    --bs-btn-border-color: var(--bs-gray-200);
    --bs-btn-hover-color: var(--bs-gray-600);
    --bs-btn-hover-bg: var(--bs-gray-200);
    --bs-btn-hover-border-color: var(--bs-gray-200);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: var(--bs-gray-600);
    --bs-btn-active-bg: var(--bs-gray-200);
    --bs-btn-active-border-color: var(--bs-gray-200);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
  }

  .btn.btn-outline-danger {
    svg {
      fill: var(--bs-danger);
    }

    &:hover {
      svg {
        fill: var(--bs-light);
      }
    }

    --bs-btn-color: var(--bs-danger);
    --bs-btn-border-color: var(--bs-danger);
    --bs-btn-hover-color: var(--bs-light);
    --bs-btn-hover-bg: var(--bs-danger);
    --bs-btn-hover-border-color: var(--bs-danger);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: var(--bs-danger);
    --bs-btn-active-bg: var(--bs-danger);
    --bs-btn-active-border-color: var(--bs-danger);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(214, 41, 62, 0.1);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgba(214, 41, 62, 0.1);
    --bs-gradient: none;
  }


  // Modal
  .modal {
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-footer-border-color: var(--bs-border-color);
  }

  // Card
  .card {
    --bs-card-cap-bg: var(--bs-card-bg-dark) !important;
    --bs-card-bg: var(--bs-card-bg-dark) !important;
    --bs-card-border-color: var(--bs-gray-100);
  }

  // Offacanvas
  .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
    --bs-offcanvas-bg: var(--bs-body-bg);
  }

  .popover {
    --bs-popover-bg: var(--bs-body-bg);
  }

  // Accordion
  .accordion {
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-active-bg: var(--bs-body-bg);
  }

  .accordion-item {
    background-color: var(--bs-body-bg);
    color: var(--bs-gray-400);

    .accordion-button {
      color: var(--bs-gray-400);
    }
  }

  table.error-details {
    border: 1px solid var(--bs-gray-100);
    background-color: transparent;

    th.text-body {
      background: rgb(36, 37, 51);
      border: 0 !important;
    }
  }

  table, table.dataTable {
    background: var(--bs-dark);
    border: 1px solid var(--bs-gray-100);

    th {
      border-bottom-color: var(--bs-gray-100) !important;

      &:hover, &:focus {
        background-color: var(--bs-light);
      }
    }

    &.no-footer {
      border-bottom: 1px solid var(--bs-gray-100) !important;
    }
  }

  // Background mode
  header {
    background: var(--bs-card-bg-dark);
    border-bottom: 1px solid var(--bs-border-color);
    height: auto;
  }

  hr {
    color: var(--bs-gray-300);
  }

  // Fill secondary
  .fill-secondary {
    fill: rgba(var(--bs-secondary-rgb)) !important;
  }

  // Shadow
  .shadow, .shadow-lg, .shadow-sm {
    box-shadow: none !important;
  }

  .navbar-nav .dropdown .dropdown-submenu:hover > .dropdown-menu {
    box-shadow: none;
  }

  .file-input {
    .file-preview .fileinput-remove.close {
      background: var(--bs-gray-400);
      border: 0;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 .3rem;
      height: 1.3rem;
      width: 1.3rem;
    }
  }


  // Mobile mockup and mac mockup
  .iphone-x {
    box-shadow: 0px 0px 0px 11px var(--bs-gray-600), 0px 0px 0px 13px var(--bs-gray-600), 0px 0px 0px 20px var(--bs-gray-400);

    &:after {
      background-color: var(--bs-light);
    }

    &:before {
      background-color: var(--bs-gray-600);
    }
  }

  .mac_screen {
    background: var(--bs-gray-700);

    &:before {
      border: none;
    }
  }

  // Form control background
  .form-control {
    border-color: var(--bs-gray-100);
    background-color: var(--bs-input-bg);
    border-radius: .5rem;

    &:hover, &:focus {
      border: 0;
      background-color: var(--bs-input-hover-bg);

    }

  }

  // Choices
  .choices .choices__inner {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-gray-100);
  }

  .choices .choices__list--dropdown {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-gray-100);
  }

  .choices[data-type*=select-one] .choices__input {
    background: var(--bs-body-bg);
  }

  .list-group .list-group-item, .list-group .list-group-item-action {
    background: var(--bs-card-bg-dark);
  }


  // Flatpickr
  .flatpickr-calendar {
    background: var(--bs-mode);
    border-color: var(--bs-mode);
  }

  .flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background: var(--bs-mode);
  }

  .flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
    border-top-color: var(--bs-mode);
  }

  .flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after, .flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: var(--bs-mode);
  }

  // Tabs white
  .nav-tabs-white {
    .nav-item {
      .nav-link.active, .nav-link:hover {
        background: var(--bs-mode);
      }
    }
  }

  .navbar.navbar-icon {
    .navbar-nav {
      .nav-item {
        .nav-link {
          &.active {
            &:before {
              border-color: var(--bs-mode) transparent transparent transparent;
            }
          }
        }
      }
    }
  }

  // Responsive navbar
  .navbar-expand {
    //@each $breakpoint in map-keys($grid-breakpoints) {
    //  $next: breakpoint-next($breakpoint, $grid-breakpoints);
    //  $infix: breakpoint-infix($next, $grid-breakpoints);
    //  &#{$infix} {
    //  @include media-breakpoint-down($next) {
    //    .navbar-collapse{
    //      background: var(--bs-mode) !important;
    //    }
    //  }
    //  }
    //}
  }

  // Glightbox
  .glightbox-clean .gslide-description {
    background: var(--bs-mode);
  }

  // Preloader
  .preloader {
    background-color: var(--bs-mode);
  }

  // Ticket border
  .ticket-border {
    &:before {
      background: var(--bs-mode);
    }

    &:after {
      background: var(--bs-mode);
    }
  }

  // story border
  .stories .story > .item-link > .item-preview img {
    border: 2px solid var(--bs-mode);
  }

  // Story scroll
  .scroll-enable {
    &.stories.carousel::-webkit-scrollbar-track {
      background-color: var(--bs-gray-200);
    }

    &.stories.carousel::-webkit-scrollbar {
      background-color: var(--bs-gray-200);
    }

    &.stories.carousel::-webkit-scrollbar-thumb {
      background-color: var(--bs-gray-400);
    }
  }

  //Select2
  .select2-container--bootstrap-5 {

    .select2-selection {
      background-color: rgba(var(--bs-light-rgb), 1) !important;
      border: 1px solid var(--bs-gray-100);
      color: #fff;

      .select2-results__options .select2-results__option.select2-results__option--highlighted {
        background-color: var(--bg-primary-soft) !important;
      }
    }

    .select2-dropdown {
      background-color: rgba(var(--bs-light-rgb), 1) !important;
      border: 1px solid var(--bs-gray-100) !important;
      color: var(--bs-body-color);

      .select2-search .select2-search__field {
        background: rgba(var(--bs-light-rgb), 1);
        border: 1px solid var(--bs-gray-100);
        color: #fff;
        outline: none;
        box-shadow: none;

        &:hover, &:focus {
          border: 1px solid var(--bs-primary);
        }
      }
    }
  }

  .select2-container .select2-results__option--highlighted[aria-selected] {
    background-color: var(--bg-primary-soft) !important;
    color: var(--bs-gray-800) !important;
  }

  .select2-container .select2-selection--single {

    border-radius: 4px;
    height: 37px !important;

    .select2-selection__rendered {
      color: #999;
    }

    .select2-selection__placeholder {
      color: #999;
    }
  }

  .select2-container .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
  }

  .select2-container.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
  }

  .select2-container.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
  }

  .select2-container .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
  }

  .select2-container .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left;
  }

  .select2-container .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
  }

  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
  }

  .select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
  }

  .select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
  }

  .select2-container .select2-results__option[aria-disabled=true] {
    color: #999;
  }

  .select2-container .select2-results__option[aria-selected=true] {
    background-color: #ddd;
  }

  .nav {
    .nav-item {
      .nav-link {
        color: var(--bs-gray-400);

        &:hover, &:focus {
          color: var(--bs-gray-400);
          background-color: var(--bs-gray-100);
        }
      }
    }
  }

  .nav-pills {

    .nav-item {
      margin-right: 1rem;

      .nav-link {
        background: transparent;
        color: var(--bs-gray-400);
        font-weight: 500;

        &:hover {
          color: var(--bs-gray-400);
          background: var(--bs-gray-100);
        }

        &.active {
          background: var(--bs-gray-200);
          color: var(--bs-gray-400);
        }
      }
    }
  }

  .panel-txtarea {

    .display-flex {
      display: flex;
      flex-direction: row-reverse;
    }

    .flex-start {
      margin-right: auto;
    }

    .card-header {
      padding-bottom: 0;
      padding-top: .5rem;
    }

    .card-body {
      padding: 0;
    }

    .card-footer {
      background: transparent;
      padding-bottom: 0;
      padding-top: 0;
      border-top: 1px solid var(--bs-card-border-color);
    }

    .nav-tabs {
      margin-right: -3px;

      .nav-item > .nav-link {
        border-bottom: 0 !important;

        &.active {
          color: var(--bs-gray-900);
          border: 1px solid var(--bs-border-color) !important;
          background: var(--bs-input-bg);
          border-bottom: 0 !important;
        }
      }
    }

    .preview-response {
      background: var(--bs-input-bg);
    }

  }

  .bbcode_input {
    .button {
      margin-right: 0.5rem;
      background: transparent;

      &:hover {
        //background: var(--bs-input-hover-bg);
        color: var(--bs-secondary-color);
        background: var(--bs-gray-200);
      }

      svg {
        height: 25px;
        width: 25px;
      }
    }
  }

  .btn-file {
    border: 1px dashed var(--bs-gray-200);
    font-weight: 700;

    &:hover {
      color: var(--bs-gray-600);
    }
  }
}

// Dark mode switch
.modeswitch-item {
  .btn-modeswitch {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-14%);
    height: 40px;
    width: 40px;
    background: var(--bs-light);
    border-radius: 0.4rem; //$border-radius;
    transition: all 1s;

    svg {
      fill: var(--bs-gray-900);
    }

    &.active {
      background: var(--bs-primary);

      svg {
        fill: var(--bs-white);
      }
    }
  }
}

// Dark mode item hide and show
.dark-mode-item {
  display: none !important;
}


[data-bs-theme="dark"] {
  .dark-mode-item {
    display: inline-block !important;
  }

  .light-mode-item {
    display: none !important;
  }
}
